<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>PMS</title>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
	<!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
</head>
<body>
	<!--     Inicio Header -->
	<div th:insert="layout/header :: header"></div>
	<!--    Fin Header -->	
 
 <main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Ofertas Laborales</h1>
        <p class="lead text-muted">Sección donde se listan todas las ofertas laborales disponibles..</p>
        <p>
          <a href="#" class="btn btn-primary my-2" th:href="@{/job/nuevo}" th:if="${#authorization.expression('hasRole(''ADMIN'')')}" sec:authorize="isAuthenticated()" >Añadir Oferta Laboral</a>
          <a href="#" class="btn btn-outline-dark my-2">Contacto</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
         <div th:each="job : ${jobs}" class="col">
				          <div class="card shadow-sm">
				            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
							<img th:src="${job.urlImg}" class="card-img-top" alt="...">
							
				            <div class="card-body">
				              <p ><strong>Sector:</strong><span th:text="${job.sector.name}">Informatica</span></p>
				              <p><strong>Título:</strong><span th:text="${job.title}">Desarrollador de Software Senior</span></p>
							
				              <div class="d-flex justify-content-between align-items-center">
				                <div class="btn-group">
				                  <a type="button" class="btn btn-sm btn-outline-secondary" th:href="@{/postulant/nuevo(jobId=${job.id})}">Postularme</a>
				                  <!-- Botón que abre el modal -->
								  <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" th:attr="data-bs-target='#miModal' + ${job.id}">Ver Detalles</button>
				                </div>
				                <!-- Modal -->
									<div th:each="job : ${jobs}" class="modal fade" th:id="'miModal' + ${job.id}" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
									    <div class="modal-dialog modal-lg">
									        <div class="modal-content">
									            <div class="modal-header">
									                <h5 class="modal-title" id="miModalLabel" th:text="${job.title}">Desarrollador de Software Senior</h5>
									                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
									            </div>
									            <div class="modal-body">
									                <!-- Contenido del modal -->
									               		 <p><strong>Título:</strong><span th:text="${job.title}">Desarrollador de Software Senior</span></p>
										                 <p><strong>Descripción:</strong><span th:text="${job.description}">Buscamos un profesional con experiencia en el desarrollo de aplicaciones web y móviles. Deberá participar en todas las fases del ciclo de vida del software.</span></p>
										                 <p><strong>Requisitos:</strong></p>
														<ul>
														   <li><span th:text="${job.requirements1}">Experiencia en Java y frameworks asociados.</span></li>
										                   <li><span th:text="${job.requirements2}">Conocimientos sólidos de desarrollo frontend y backend.</span></li>
										                   <li><span th:text="${job.requirements3}">Habilidades de resolución de problemas y trabajo en equipo.</span></li>
														</ul>
									                <div class="container-fluid">
									                    
									                </div>
									            </div>
									            <div class="modal-footer">
									                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
									            </div>
									        </div>
									    </div>
									</div>
				                <small class="text-muted">Urgente</small>
				              </div>
				            </div>
				          </div>
				        </div>
     

      </div>
    </div>
  </div>

</main>
			
<!--     Inicio Header -->
	<div th:insert="layout/footer :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>			
</body>
</html>