<!doctype html>
<html  xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    
  </head>
  <body class="text-center">
    <!--     Inicio Header -->
	<div th:insert="layout/header :: header"></div>
	<!--    Fin Header -->
	
	<section class="row">
			<div class="col-6 col-md-6 col-sm-12 col-lg-6 text-center" th:if="${user != null}">
			<h1>Profile Page</h1>
				<p>Nombre: <span th:text="${user.name}"></span></p>
				<p>Apellido: <span th:text="${user.lastname}"></span></p>
				<p>Email: <span th:text="${user.email}"></span></p>
				<p>Usuario: <span th:text="${user.username}"></span></p>
		
	    		 <button class=" btn btn-sm btn-primary" type="submit">Editar</button>
	      		 <button class=" btn btn-sm btn-primary" type="submit">Eliminar</button>
	             <button class="btn btn-sm btn-primary" type="submit">Cerrar Sesion</button>
			</div>
			<div class="col-6 col-md-6 col-sm-12 col-lg-6">
					<p>imagen de algo</p>
			</div>
	</section>

	<section th:unless="${user != null}">
    <p>User not available</p>
	</section>
	

	<!--     Inicio Header -->
	<div th:insert="layout/footer :: footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>